.Collapse{
  border-collapse: collapse;
  padding: 0;
}

.Item{
  width: 7px;
  height: 7px;
  border: 1px solid black;
}

.Item1 {
  background-color: red;
}

.Item0 {
  background-color: black;
}

.AutoCenter {
  margin: 0 auto;
}
