.collapse{
  border-collapse: collapse;
  padding: 0;
}

.Item{
  width: 7px;
  height: 7px;
  border: 1px solid black;
}

.Item1 {
  background-color: red;
}

.Item0 {
  background-color: blue;
}

.Field {
  margin: 0 auto;
}
