.Panel {
    padding: 0;
    margin: 0;
    width: 598px;
    height: 100px;
    border: 1px solid black;
    font-size: 14pt;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    border-radius:  0  0 12px 12px;
}

.Panel2 {
    width: 598px;
    height: 115px;
    border-radius:  12px 12px 0 0;
}

.Name {
    margin: 15px 15px 0 0;
    width: 100px;
    display: inline-block;
    /*border: 1px solid black;*/
}

.Generation {
    margin: 25px 15px 0 0;
    width: 140px;
    display: inline-block;
}

.EmptyBlock {
    margin: 25px 15px 0 0;
    width: 123px;
    display: inline-block;
}

button {
    margin: 0 30px 0 0;
    width: 100px;
    height: 30px;
}

.Row {
    display: inline;
    justify-content: space-evenly;
}
